<!DOCTYPE kpartgui>
<kpartgui name="kmines" version="2">
<MenuBar>
  <Menu name="game"><text>&amp;Game</text>
	<Action name="game_pause"/>
  </Menu>
  <Menu name="settings"><text>&amp;Settings</text>
	<Menu name="level"><text>&amp;Level</text>
	<Action name="level_easy"/>
	<Action name="level_normal"/>
	<Action name="level_expert"/>
	<Separator/>
	<Action name="level_custom"/>
	</Menu>
  </Menu>
</MenuBar>
<Menu name="popup">
  <Action name="options_show_menubar"/>
  <Separator/>
  <Action name="game_new"/>
  <Separator/>
  <Action name="game_highscores"/>
  <Separator/>
  <Action name="game_pause"/>
  <Action name="game_print"/>
  <Separator/>
  <Action name="game_quit"/>
</Menu>
<ToolBar name="mainToolBar" noMerge="1"><text>Main Toolbar</text>
</ToolBar>

</kpartgui>
