<!DOCTYPE kpartgui>
<kpartgui name="kmines" version="5">

<MenuBar>
  <Menu name="game"><text>&amp;Game</text>
    <Menu name="level" append="new_merge"><text>Choose &amp;level</text>
	  <Action name="level_easy"/>
	  <Action name="level_normal"/>
	  <Action name="level_expert"/>
    </Menu>
  </Menu>
  <Menu name="settings"><text>&amp;Settings</text>
	<Action name="level_custom"/>
  </Menu>
</MenuBar>

<Menu name="popup">
  <Action name="options_show_menubar"/>
  <Separator/>
  <Action name="game_new"/>
  <Action name="level"/>
  <Menu name="level"><text>Choose &amp;level</text>
	<Action name="level_easy"/>
	<Action name="level_normal"/>
	<Action name="level_expert"/>
  </Menu>
  <Separator/>
  <Action name="game_pause"/>
  <Action name="game_highscores"/>
  <Action name="game_print"/>
  <Separator/>
  <Action name="game_quit"/>
</Menu>

<ToolBar name="mainToolBar" noMerge="1"><text>Main Toolbar</text>
</ToolBar>

</kpartgui>
