<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="kmines" version="25">

<ToolBar name="mainToolBar"><text>Main Toolbar</text>
  <Action name="gameNew" />
</ToolBar>

</gui>
