[KGameTheme]
Name=Classic
Name[be]=Класічны
Name[ca]=Clàssic
Name[de]=Klassisch
Name[el]=Κλασσικό
Name[eo]=Klasika
Name[es]=Clásico
Name[fa]=کلاسیک
Name[fi]=Klassinen
Name[gl]=Clásico
Name[it]=Classico
Name[ja]=クラシック
Name[ko]=고전
Name[ne]=उत्कृष्ट
Name[nl]=Klassiek
Name[pt]=Clássico
Name[pt_BR]=Clássico
Name[sl]=Klasična
Name[sv]=Klassiskt
Name[uk]=Класичні
Name[wa]=Classike
Name[x-test]=xxClassicxx
Name[zh_CN]=经典
Name[zh_TW]=古典
Description=Classic theme for KMines
Description[ca]=Tema clàssic per KMines
Description[de]=Klassisches Design für KMines
Description[el]=Κλασικό θέμα για το KMines
Description[eo]=Klasika etoso por KMines
Description[es]=Tema clásico para KMines
Description[fa]=چهره کلاسیک برای KMines
Description[fi]=Klassinen teema KMinesiin
Description[ga]=Téama clasaiceach le haghaidh KMines
Description[gl]=Tema clásico de KMines
Description[it]=Tema classico di KMines
Description[ja]=KMines のクラシックテーマ
Description[ko]=KMines 고전 테마
Description[ne]=केडीई बारुदका लागि उत्कृष्ट विषयवस्तु
Description[nl]=Klassiek spel voor KMines
Description[pt]=Tema clássico para o KMines
Description[pt_BR]=Tema clássico para o KMines
Description[sl]=Klasična tema za KMines
Description[sv]=Klassiskt tema för Röja minor
Description[uk]=Класична тема для KMines
Description[x-test]=xxClassic theme for KMinesxx
Description[zh_CN]=KMines 经典主题
Description[zh_TW]=KMine 古典外觀主題
VersionFormat=1
Author=Mauricio Piacentini
AuthorEmail=mauricio@tabuleiro.com
Type=SVG
FileName=kmines_classic.svgz
Preview=classic_preview.png
