[KGameTheme]
Name=Classic
Name[be]=Класічны
Name[el]=Κλασσικό
Name[es]=Clásico
Name[fa]=کلاسیک
Name[ja]=クラシック
Name[ne]=उत्कृष्ट
Name[nl]=Klassiek
Name[pt]=Clássico
Name[pt_BR]=Clássico
Name[sv]=Klassiskt
Name[uk]=Класичні
Name[wa]=Classike
Name[x-test]=xxClassicxx
Name[zh_TW]=古典
Description=Classic theme for KMines
Description[el]=Κλασικό θέμα για το KMines
Description[es]=Tema clásico para KMines
Description[fa]=چهره کلاسیک برای KMines
Description[ga]=Téama clasaiceach le haghaidh KMines
Description[ja]=KMines のクラシックテーマ
Description[ne]=केडीई बारुदका लागि उत्कृष्ट विषयवस्तु
Description[nl]=Klassiek spel voor KMines
Description[pt]=Tema clássico para o KMines
Description[pt_BR]=Tema clássico para o KMines
Description[sv]=Klassiskt tema för Röja minor
Description[uk]=Класична тема для KMines
Description[zh_TW]=KMine 古典外觀主題
VersionFormat=1
Author=Mauricio Piacentini
AuthorEmail=mauricio@tabuleiro.com
Type=SVG
FileName=kmines_classic.svgz
Preview=classic_preview.png
