[KGameTheme]
Author=Nathan Upchurch
AuthorEmail=nathan@upchur.ch
Copyright=2023 Nathan Upchurch
Description=A light, high contrast theme for KMines.
Description[ca]=Un tema clar d'alt contrast per al KMines
Description[ca@valencia]=Un tema clar d'alt contrast per a KMines
Description[eo]=Klasika etoso por KMines
Description[es]=Un tema claro de alto contraste para KMines.
Description[ka]=ღია, მაღალი კონტრასტის მქონე თემა KMines-თვის.
Description[nl]=Een licht, hoog contrast thema voor KMines.
Description[pt_BR]=Um tema claro e de alto contraste para o KMines.
Description[sl]=Svetla, visoko kontrastna tema za KMines.
Description[tr]=K Mayınlar için açık, yüksek karşıtlıklı bir tema.
Description[uk]=Світла висококонтрастна тема для KMines.
Description[x-test]=xxA light, high contrast theme for KMines.xx
FileName=kmines_clean_blue.svg
License=CC-BY-SA-4.0
Name=Clean Blue
Name[ca]=Blau net
Name[ca@valencia]=Blau net
Name[eo]=Clean Blue
Name[es]=Azul claro
Name[ka]=სუფთა ლურჯი
Name[nl]=Helder blauw
Name[pt_BR]=Azul limpo
Name[sl]=Čista modra
Name[tr]=Temiz Mavi
Name[uk]=Проста синя
Name[x-test]=xxClean Bluexx
Preview=clean_blue_preview.png
Type=SVG
Version=1.0
