[KGameTheme]
Author=Nathan Upchurch
AuthorEmail=nathan@upchur.ch
Copyright=2023 Nathan Upchurch
Description=A light, high contrast theme for KMines.
FileName=kmines_clean_blue.svg
License=CC-BY-SA-4.0
Name=Clean Blue
Preview=clean_blue_preview.png
Type=SVG
Version=1.0
