[KGameTheme]
Author=Nathan Upchurch
AuthorEmail=nathan@upchur.ch
Copyright=2023 Nathan Upchurch
Description=A dark, high contrast theme for KMines.
Description[ar]=سمة داكنة وعالية التباين للألغام ك.
Description[ca]=Un tema fosc d'alt contrast per al KMines.
Description[ca@valencia]=Un tema fosc d'alt contrast per a KMines.
Description[cs]=Tmavý kontrastní motiv pro KMines.
Description[de]=Ein dunkles Design mit hohem Kontrast für KMines.
Description[en_GB]=A dark, high contrast theme for KMines.
Description[eo]=Malhela, altkonstrasta etoso por KMines
Description[es]=Un tema oscuro de alto contraste para KMines.
Description[eu]=«KMines»erako kontraste handikoa gai ilun bat.
Description[fi]=Tumma korkeakontrastinen KMines-teema.
Description[fr]=Une thème sombre à haut contraste pour KMines.
Description[he]=ערכת עיצוב כהה בניגודיות גבוהה ל־KMines.
Description[hu]=Sötét, nagy kontrasztú KMines téma
Description[is]=Dökkt þema með mikil birtuskil fyrir KMines
Description[it]=Un tema scuro e ad alto contrasto per KMines.
Description[ka]=მუქი, მაღალი კონტრასტის მქონე თემა KMines-თვის.
Description[ko]=KMines용 어두운 고명도 테마입니다.
Description[lv]=Tumšs, kontrastains „KMines“ motīvs
Description[nl]=Een donker, hoog contrast thema voor KMines.
Description[pl]=Wygląd ciemny o wysokim kontraście dla KMin.
Description[pt_BR]=Um tema escuro e de alto contraste para o KMines.
Description[ro]=Tematică întunecată cu contrast înalt pentru KMine.
Description[ru]=Тёмное высококонтрастное оформление для KMines
Description[sk]=Tmavá, vysoko kontrastná téma pre KMines.
Description[sl]=Temna, visoko kontrastna tema za KMines.
Description[sv]=Ett mörkt tema med hög kontrast för Röja minor
Description[tr]=K Mayınlar için koyu, yüksek karşıtlıklı bir tema.
Description[uk]=Темна висококонтрастна тема для KMines.
Description[x-test]=xxA dark, high contrast theme for KMines.xx
Description[zh_TW]=KMines 的暗色高對比主題。
License=CC-BY-SA-4.0
Name=Clean Blue Dark
Name[ar]=أزرق نظيف داكن
Name[ca]=Blau net fosc
Name[ca@valencia]=Blau net fosc
Name[cs]=Čistá tmavá modrá
Name[de]=Rein dunkles Blau
Name[en_GB]=Clean Blue Dark
Name[eo]=Clean Blue Dark
Name[es]=Azul oscuro
Name[eu]=Urdin ilun garbia
Name[fi]=Tumma puhtaansininen
Name[fr]=Bleu sombre limpide
Name[he]=כחול נקי כהה
Name[hu]=Tiszta kék, sötét
Name[is]=Tær-blátt dökkt
Name[it]=Blu pulito scuro
Name[ka]=სუფთა მუქი ლურჯი
Name[ko]=어두운 클린 블루
Name[lv]=Tīrs, tumši zils
Name[nl]=Helder blauw donker
Name[pl]=Schludny Ciemny Niebieski
Name[pt_BR]=Azul limpo escuro
Name[ro]=Albastru curat întunecat
Name[ru]=Чистое синее, тёмный вариант
Name[sk]=Čistá tmavomodrá
Name[sl]=Čista modra temna
Name[sv]=Rent mörkblått
Name[tr]=Temiz Koyu Mavi
Name[uk]=Проста синя темна
Name[x-test]=xxClean Blue Darkxx
Name[zh_TW]=淨藍（暗色）
FileName=kmines_clean_blue_dark.svgz
Preview=clean_blue_dark_preview.png
Type=SVG
Version=1.0
