[KGameTheme]
Author=Nathan Upchurch
AuthorEmail=nathan@upchur.ch
Copyright=2023 Nathan Upchurch
Description=A light, high contrast theme for KMines.
Description[ca]=Un tema clar d'alt contrast per al KMines.
Description[ca@valencia]=Un tema clar d'alt contrast per a KMines.
Description[de]=Ein helles Design mit hohem Kontrast für KMines.
Description[eo]=Klasika etoso por KMines
Description[es]=Un tema claro de alto contraste para KMines.
Description[eu]=«KMines»erako kontraste handiko gai argi bat.
Description[fi]=Vaalea korkeakontrastinen KMines-teema.
Description[fr]=Une thème clair à haut contraste pour KMines.
Description[he]=ערכת עיצוב בהירה בניגודיות גבוהה ל־KMines.
Description[hu]=Világos, nagy kontrasztú KMines téma.
Description[it]=Un tema chiaro e ad alto contrasto per KMines.
Description[ka]=ღია, მაღალი კონტრასტის მქონე თემა KMines-თვის.
Description[nl]=Een licht, hoog contrast thema voor KMines.
Description[pl]=Wygląd jasny o wysokim kontraście dla KMin.
Description[pt_BR]=Um tema claro e de alto contraste para o KMines.
Description[sl]=Svetla, visoko kontrastna tema za KMines.
Description[tr]=K Mayınlar için açık, yüksek karşıtlıklı bir tema.
Description[uk]=Світла висококонтрастна тема для KMines.
Description[x-test]=xxA light, high contrast theme for KMines.xx
Description[zh_TW]=KMines 的亮色高對比主題。
FileName=kmines_clean_blue.svg
License=CC-BY-SA-4.0
Name=Clean Blue
Name[ca]=Blau net
Name[ca@valencia]=Blau net
Name[de]=Reines Blau
Name[eo]=Clean Blue
Name[es]=Azul claro
Name[eu]=Urdin garbia
Name[fi]=Puhtaansininen
Name[fr]=Bleu limpide
Name[he]=כחול נקי
Name[hu]=Tiszta kék
Name[it]=Blu pulito
Name[ka]=სუფთა ლურჯი
Name[nl]=Helder blauw
Name[pl]=Schludny Niebieski
Name[pt_BR]=Azul limpo
Name[sl]=Čista modra
Name[tr]=Temiz Mavi
Name[uk]=Проста синя
Name[x-test]=xxClean Bluexx
Name[zh_TW]=淨藍
Preview=clean_blue_preview.png
Type=SVG
Version=1.0
