[KGameTheme]
Author=Nathan Upchurch
AuthorEmail=nathan@upchur.ch
Copyright=2023 Nathan Upchurch
Description=A dark, high contrast theme for KMines.
Description[ca]=Un tema fosc d'alt contrast per al KMines.
Description[ca@valencia]=Un tema fosc d'alt contrast per a KMines.
Description[de]=Ein dunkles Design mit hohem Kontrast für KMines.
Description[eo]=Malhela, altkonstrasta etoso por KMines
Description[es]=Un tema oscuro de alto contraste para KMines.
Description[eu]=«KMines»erako kontraste handikoa gai ilun bat.
Description[fr]=Une thème sombre à haut contraste pour KMines.
Description[he]=ערכת עיצוב כהה בניגודיות גבוהה ל־KMines.
Description[it]=Un tema scuro e ad alto contrasto per KMines.
Description[ka]=მუქი, მაღალი კონტრასტის მქონე თემა KMines-თვის.
Description[nl]=Een donker, hoog contrast thema voor KMines.
Description[pl]=Wygląd ciemny o wysokim kontraście dla KMin.
Description[pt_BR]=Um tema escuro e de alto contraste para o KMines.
Description[sl]=Temna, visoko kontrastna tema za KMines.
Description[tr]=K Mayınlar için koyu, yüksek karşıtlıklı bir tema.
Description[uk]=Темна висококонтрастна тема для KMines.
Description[x-test]=xxA dark, high contrast theme for KMines.xx
FileName=kmines_clean_blue_dark.svg
License=CC-BY-SA-4.0
Name=Clean Blue Dark
Name[ca]=Blau net fosc
Name[ca@valencia]=Blau net fosc
Name[de]=Rein dunkles Blau
Name[eo]=Clean Blue Dark
Name[es]=Azul oscuro
Name[eu]=Urdin ilun garbia
Name[fr]=Bleu sombre limpide
Name[he]=כחול נקי כהה
Name[it]=Blu pulito scuro
Name[ka]=სუფთა მუქი ლურჯი
Name[nl]=Helder blauw donker
Name[pl]=Schludny Ciemny Niebieski
Name[pt_BR]=Azul limpo escuro
Name[sl]=Čista modra temna
Name[tr]=Temiz Koyu Mavi
Name[uk]=Проста синя темна
Name[x-test]=xxClean Blue Darkxx
Preview=clean_blue_dark_preview.png
Type=SVG
Version=1.0
