[KGameTheme]
Name=Default
Description=KMines Oxygen theme for KDE 4
VersionFormat=1
Author=Mark Taff
AuthorEmail=marktaff@comcast.net
Type=SVG
FileName=kmines_oxygen.svgz
Preview=default_preview.png
