[KGameTheme]
Name=Default
Name[be]=Прадвызначаны
Name[el]=Προκαθορισμένο
Name[ga]=Réamhshocrú
Name[ja]=デフォルト
Name[sv]=Förval
Name[uk]=Типові
Name[x-test]=xxDefaultxx
Description=KMines Oxygen theme for KDE 4
Description[el]=Θέμα Oxygen του KMines για το KDE4
Description[ja]=KMines の KDE4 用 Oxygen テーマ
VersionFormat=1
Author=Mark Taff
AuthorEmail=marktaff@comcast.net
Type=SVG
FileName=kmines_oxygen.svgz
Preview=default_preview.png
