[KGameTheme]
Name=Default
Name[be]=Прадвызначаны
Name[el]=Προκαθορισμένο
Name[es]=Predeterminado
Name[ga]=Réamhshocrú
Name[ja]=デフォルト
Name[sv]=Förval
Name[uk]=Типові
Name[x-test]=xxDefaultxx
Description=KMines Oxygen theme for KDE 4
Description[el]=Θέμα Oxygen του KMines για το KDE4
Description[es]=Tema oxígeno para KDE 4
Description[ja]=KMines の KDE4 用 Oxygen テーマ
Description[uk]=Тема KMines Oxygen для KDE 4
VersionFormat=1
Author=Mark Taff
AuthorEmail=marktaff@comcast.net
Type=SVG
FileName=kmines_oxygen.svgz
Preview=default_preview.png
