[KGameTheme]
Name=Graveyard Mayhem
Name[de]=Chaosfriedhof
Name[en_GB]=Graveyard Mayhem
Name[es]=Caos en el cementerio
Name[et]=Õõvastav surnuaed
Name[gl]=O caos do cemiterio
Name[pt]=Pânico no Cemitério
Name[sv]=Lemlästning på gravplats
Name[uk]=Хаос на цвинтарі
Name[x-test]=xxGraveyard Mayhemxx
Name[zh_TW]=墓地的騷動
Description=A spooky theme for KMines. Don't get caught by the zombies in the graveyard!
Description[de]=Ein unheimliches Design für KMines. Lassen Sie sich von den Geistern des Friedhofs nicht erwischen.
Description[en_GB]=A spooky theme for KMines. Don't get caught by the zombies in the graveyard!
Description[es]=Un tema espeluznante para KMines. ¡Que no le pillen los zombies del cementerio!
Description[et]=KMinesi kõhedust tekitav teema. Ära lase end tabada surnuaias redutavatel ebasurnutel!
Description[gl]=Un tema gráfico fantasmal para o KMines. Que non te collan os zombis no cemiterio!
Description[pt]=Um tema assustador para o KMines. Não se deixe apanhar pelos zombies no cemitério!
Description[sv]=Ett kusligt tema för Röja minor. Bli inte fångad av zombierna på gravplatsen!
Description[uk]=Тема з привидами для KMines. Не дайте впіймати вас зомбі на цвинтарі!
Description[x-test]=xxA spooky theme for KMines. Don't get caught by the zombies in the graveyard!xx
Description[zh_TW]=KMines 的怪異外觀主題。不要在墓地被僵屍抓到了。
VersionFormat=0.5
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Type=SVG
FileName=graveyard-mayhem.svgz
Preview=graveyard-mayhem-preview.png
