[KGameTheme]
Name=Graveyard Mayhem
Name[bs]=Groblje Maythem
Name[ca]=L'esquarterament del cementiri
Name[ca@valencia]=L'esquarterament del cementiri
Name[da]=Kaos på kirkegården
Name[de]=Chaosfriedhof
Name[el]=Graveyard Mayhem
Name[en_GB]=Graveyard Mayhem
Name[es]=Caos en el cementerio
Name[et]=Õõvastav surnuaed
Name[fi]=Hautausmaan sekasorto
Name[fr]=Grabuge dans le cimetière
Name[ga]=Graveyard Mayhem
Name[gl]=O caos do cemiterio
Name[hu]=Temető rendbontás
Name[id]=Graveyard Mayhem
Name[it]=Caos nel cimitero
Name[kk]=Сұмдық зират
Name[km]=Graveyard Mayhem
Name[ko]=무덤가의 귀신
Name[lv]=Vardarbība kapsētā
Name[ml]=ശ്‌മശാന കലാപം
Name[nb]=Kirkegårdsmassakre
Name[nds]=Kuddelmuddel-Karkhoff
Name[nl]=Graveyard Mayhem
Name[nn]=Kyrkjegard
Name[pl]=Cmentarz Mayhem
Name[pt]=Pânico no Cemitério
Name[pt_BR]=Pânico no Cemitério
Name[ru]=Увечное кладбище
Name[sk]=Chaos na cintoríne
Name[sl]=Kaos na pokopališču
Name[sr]=Метеж на гробљу
Name[sr@ijekavian]=Метеж на гробљу
Name[sr@ijekavianlatin]=Metež na groblju
Name[sr@latin]=Metež na groblju
Name[sv]=Lemlästning på gravplats
Name[tr]=Mezarlık Kargaşası
Name[uk]=Хаос на цвинтарі
Name[x-test]=xxGraveyard Mayhemxx
Name[zh_CN]=墓地骚灵
Name[zh_TW]=墓地的騷動
Description=A spooky theme for KMines. Don't get caught by the zombies in the graveyard!
Description[bs]=Sablasna tema za KMines. Ne dopusti da budeš uhvaćen od strane zombija na groblju!
Description[ca]=Un tema esfereïdor pel KMines. No us deixeu atrapar pels zombis en el cementiri!
Description[ca@valencia]=Un tema esfereïdor pel KMines. No vos deixeu atrapar pels zombis en el cementiri!
Description[da]=Et uhyggeligt tema til KMines. Pas på du ikke bliver fanget af zombierne på kirkegården!
Description[de]=Ein unheimliches Design für KMines. Lassen Sie sich von den Geistern des Friedhofs nicht erwischen.
Description[el]=Στοιχειωμένο θέμα για το KMines. Μη σας πιάσουν τα ζόμπι στο νεκροταφείο!
Description[en_GB]=A spooky theme for KMines. Don't get caught by the zombies in the graveyard!
Description[es]=Un tema espeluznante para KMines. ¡Que no le pillen los zombies del cementerio!
Description[et]=KMinesi kõhedust tekitav teema. Ära lase end tabada surnuaias redutavatel ebasurnutel!
Description[fi]=Karmaiseva teema KMinesiin. Älä anna zombien napata sinua hautausmaalla!
Description[fr]=Un thème effrayant pour KMines. Ne vous faites pas attraper par les zombies dans le cimetière !
Description[gl]=Un tema gráfico fantasmal para KMines. Que non te collan os zombis no cemiterio!
Description[hu]=Egy kísérteties téma a KMines számára. Ne kapjanak el a zombik a temetőben!
Description[id]=Sebuah tema spooky untuk KMines. Jangan sampai tertangkap oleh zombi di dalam kuburan!
Description[it]=Un tema spettrale per KMines. Non farti impressionare dagli zombie del cimitero.
Description[kk]=Сұмдық KMines нақышы. Зомбилердің қолына түспеңіз!
Description[km]=ស្បែក​គួរឲ្យ​ខ្លាច​សម្រាប់ KMines ។ កុំ​ឲ្យ​ខ្មោច​ឆៅ​ចាប់​បាន​នៅ​ទី​ប៉ាឆា​ឲ្យសោះ!
Description[ko]=KMines용 유령 테마입니다. 무덤에 나타나는 좀비를 조심하세요!
Description[lv]=Spokaina KMines tēma. Neļauj zombijiem sevi pieķert!
Description[ml]=കെമൈൻസിനുള്ള ഭൂതാവിഷ്‌ടമായ ഒരു തീം.ശ്മാശാനത്തിലുള്ള സോമ്പികളുക്ക് പിടികൊടുക്കരുത്!
Description[nb]=Et skummelt tema for KMines. Pass deg for zombiene på kirkegården.
Description[nds]=En spöökhaftig Muster för KMines. Laat Di man op den Karkhoff nich vun de Undoden kaschen!
Description[nl]=Een spookachtig thema voor KMines. Laat u niet vangen door de zombies op de begraafplaats!
Description[nn]=Uhyggjeleg tema for KMinesveipar. Pass deg for zombiane på kyrkjegarden.
Description[pl]=Upiorny wystrój KMin. Nie daj się złapać przez zombie na cmentarzu!
Description[pt]=Um tema assustador para o KMines. Não se deixe apanhar pelos zombies no cemitério!
Description[pt_BR]=Tema assustador para o KMines. Não seja pego pelos zumbis no cemitério!
Description[ru]=Жуткое оформление для KMines. Не дайте зомби себя поймать!
Description[sk]=Strašidelná téma pre KMines. Nenechajte sa chytiť zombie na cintoríne.
Description[sl]=Strašljiva tema za KMines. Ne pustite, da vas na pokopališču zasačijo zombiji!
Description[sr]=Сабласна тема за К‑мине — не дајте да вас ухвате зомбији на гробљу!
Description[sr@ijekavian]=Сабласна тема за К‑мине — не дајте да вас ухвате зомбији на гробљу!
Description[sr@ijekavianlatin]=Sablasna tema za K‑mine — ne dajte da vas uhvate zombiji na groblju!
Description[sr@latin]=Sablasna tema za K‑mine — ne dajte da vas uhvate zombiji na groblju!
Description[sv]=Ett kusligt tema för Röja minor. Bli inte fångad av zombierna på gravplatsen!
Description[tr]=KMines için hayalet dolu bir tema. Mezarlıkta zombilere yakalanmayın sakın!
Description[uk]=Тема з привидами для KMines. Не дайте впіймати вас зомбі на цвинтарі!
Description[x-test]=xxA spooky theme for KMines. Don't get caught by the zombies in the graveyard!xx
Description[zh_CN]=KMines 的诡异风格主题。不要在墓地里被僵尸抓到了！
Description[zh_TW]=KMines 的怪異外觀主題。不要在墓地被僵屍抓到了。
VersionFormat=0.5
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Type=SVG
FileName=graveyard-mayhem.svgz
Preview=graveyard-mayhem-preview.png
