[KGameTheme]
Name=Graveyard Mayhem
Name[uk]=Хаос на цвинтарі
Name[x-test]=xxGraveyard Mayhemxx
Description=A spooky theme for KMines. Don't get caught by the zombies in the graveyard!
Description[uk]=Тема з привидами для KMines. Не дайте впіймати вас зомбі на цвинтарі!
Description[x-test]=xxA spooky theme for KMines. Don't get caught by the zombies in the graveyard!xx
VersionFormat=0.5
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Type=SVG
FileName=graveyard-mayhem.svgz
Preview=graveyard-mayhem-preview.png
