[KGameTheme]
Name=Gardens of Danger
Name[bs]=Vrtovi opasnosti
Name[ca]=Jardí del perill
Name[ca@valencia]=Jardí del perill
Name[cs]=Zahrada nebezpečí
Name[da]=Farlige haver
Name[de]=Gefährliche Gärten
Name[el]=Οι κήποι του κίνδυνου
Name[en_GB]=Gardens of Danger
Name[eo]=Ĝardenoj de la danĝero
Name[es]=Los jardines del peligro
Name[et]=Ohtude aed
Name[eu]=Arriskuaren loratokia
Name[fa]=باغ‌های خطر
Name[fi]=Vaaran puutarhat
Name[fr]=Les jardins du péril
Name[ga]=Gardens of Danger
Name[gl]=Xardíns perigosos
Name[hne]=खतरों के बगीचा
Name[hu]=Veszélyes kert
Name[id]=Gardens of Danger
Name[it]=I giardini del pericolo
Name[ja]=危険な庭
Name[kk]=Қауіп бақтары
Name[km]=ឧទ្យាន​គ្រោះថ្នាក់
Name[ko]=위험한 정원
Name[lt]=Pavojaus sodai
Name[lv]=Briesmu dārzi
Name[ml]=അപയായത്തിന്റെ ഉദ്യാനങ്ങൾ
Name[nb]=Farlige hager
Name[nds]=Riskanzgaarns
Name[nl]=Tuinen vol gevaar
Name[nn]=Farlege hagar
Name[pl]=Ogrody zagrożenia
Name[pt]=Jardins do Perigo
Name[pt_BR]=Jardins do Perigo
Name[ro]=Grădinile pericolului
Name[ru]=Сады опасности
Name[sk]=Záhrada nebezpečia
Name[sl]=Vrtovi nevarnosti
Name[sr]=Вртови опасности
Name[sr@ijekavian]=Вртови опасности
Name[sr@ijekavianlatin]=Vrtovi opasnosti
Name[sr@latin]=Vrtovi opasnosti
Name[sv]=Farliga trädgårdar
Name[tr]=Tehlike Bahçeleri
Name[uk]=Сади небезпеки
Name[x-test]=xxGardens of Dangerxx
Name[zh_CN]=危机庭园
Name[zh_TW]=危險花園
Description=A funny theme for KMines
Description[ca]=Un tema divertit pel KMines
Description[ca@valencia]=Un tema divertit pel KMines
Description[cs]=Legrační motiv pro KMines
Description[da]=Et sjovt tema til KMines
Description[de]=Ein lustiges Design für KMines
Description[el]=Ένα διασκεδαστικό θέμα για το KMines
Description[en_GB]=A funny theme for KMines
Description[es]=Un tema divertido para KMines
Description[et]=Lõbus miinimängu teema
Description[fi]=Hassu teema KMinesille
Description[fr]=Un thème amusant pour KMines
Description[gl]=Un tema alegre para KMines.
Description[id]=Sebuah tema lucu untuk KMines
Description[it]=Un tema buffo per KMines
Description[ko]=KMines용 재미있는 테마
Description[ml]=കെമൈൻസിനുള്ള രസകരമായ ഒരു തീം
Description[nl]=Een grappig thema voor KMines
Description[nn]=Artig tema for KMinesveipar
Description[pl]=Śmieszny wystrój dla KMin
Description[pt]=Um tema engraçado para o KMines
Description[pt_BR]=Tema divertido para o KMines
Description[sk]=Zábavná téma pre KMines
Description[sl]=Zabavna tema za KMines
Description[sr]=Шаљива тема за К‑мине
Description[sr@ijekavian]=Шаљива тема за К‑мине
Description[sr@ijekavianlatin]=Šaljiva tema za K‑mine
Description[sr@latin]=Šaljiva tema za K‑mine
Description[sv]=Ett roligt tema för Röja minor
Description[tr]=KMines için eğlenceli bir tema
Description[uk]=Мила тема для гри у сапера
Description[x-test]=xxA funny theme for KMinesxx
Description[zh_CN]=一个有趣的 KMines 主题
Description[zh_TW]=好玩的踩地雷遊戲主題
VersionFormat=1
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
Type=SVG
FileName=kmines_green.svgz
Preview=green.png
