[KGameTheme]
Name=Cig Waste No. 2
Description=The cleaning of the Earth begins
VersionFormat=1
Author=Gregor Mitsch, based on Oxygen Theme
AuthorEmail=codestruct@posteo.org
Type=SVG
FileName=kmines_waste2.svgz
Preview=kmines_waste2_preview.png
