[Desktop Entry]
Encoding=UTF-8
Name=KMines
Name[fr]=kMines
Name[hu]=Aknakereső
Name[lv]=KMīnas
Name[sv]=Kmines
Name[xx]=xx
Icon=kmines
Exec=kmines -caption "%c" %i %m
Type=Application
DocPath=kmines/index.html
Comment=Logic Game
Comment[ar]=لعبة تكتيكية
Comment[da]=Logisk spil
Comment[de]=Logikspiel
Comment[es]=Juego de lógica
Comment[fi]=Logiikkapeli
Comment[fr]=Un jeu de logique
Comment[he]=משחק לוגיקה
Comment[hu]=Logikai játék
Comment[it]=Gioco di logica
Comment[lt]=Loginis žaidimas
Comment[lv]=Loģiskā Spēle
Comment[nn]=Logikkspel
Comment[pt]=Jogo de Lógica
Comment[pt_BR]=Jogo de Lógica
Comment[sk]=Logická hra
Comment[sv]=Logiskt spel
Comment[xx]=xx
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
