[Desktop Entry]
Encoding=UTF-8
Name=KMines
Name[af]=Kmyne
Name[ar]=لعبة الألغام (KMines)
Name[bn]=কে-মাইন্স
Name[eo]=Minoj
Name[hi]=के-माइन्स
Name[hr]=Mine
Name[pl]=Miny
Name[pt_BR]=KMinas
Name[ru]=Сапёр
Name[sv]=Kmines
Name[ta]=கேகன்னிவெடிகள்
Name[tg]=KСапёр
Name[th]=กู้ระเบิด - K
Name[xx]=xxKMinesxx
Name[zh_TW]=KMines 踩地雷
Icon=kmines
Exec=kmines -caption "%c" %i %m
Type=Application
DocPath=kmines/index.html
GenericName=Minesweeper-like Game
GenericName[bg]=Мини
GenericName[cs]=Hra s minovým polem
GenericName[da]=Minesøger-lignende spil
GenericName[de]=Minesweeper-ähnliches Spiel
GenericName[es]=Juego similar al buscaminas
GenericName[et]=Miiniväljamäng
GenericName[fi]=Kaivostyylinen peli
GenericName[fr]=Jeu dans le style du démineur
GenericName[hu]=Aknakereső
GenericName[is]=Leikur sem líkist Minesweeper
GenericName[it]=Gioco simile a Mine
GenericName[nl]=Mijnenveger-achtig spel
GenericName[pl]=Gra typu saper
GenericName[pt]=Jogo tipo Minas
GenericName[pt_BR]=Jogo parecido com Campo Minado
GenericName[ru]=Игра в сапёра
GenericName[sl]=Igra, podobna Minesweeperju
GenericName[sr]=Игра налик на миноловац
GenericName[sr@Latn]=Igra nalik na minolovac
GenericName[sv]=Minröjarliknande spel
GenericName[ta]=சுரங்கம்வெட்டும் விளையாட்டு
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;StrategyGame;
