[Desktop Entry]
Encoding=UTF-8
Name=KMines
Name[x-test]=xxKMinesxx
Icon=kmines
Exec=kmines -caption "%c"
Type=Application
DocPath=kmines/index.html
GenericName=Minesweeper-like Game
GenericName[fr]=Jeu dans le style du démineur
GenericName[ja]=地雷ゲーム
GenericName[x-test]=xxMinesweeper-like Gamexx
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;StrategyGame;
